*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(
        45deg,
        #8b51ff,
        #7a37ff
    );
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}
.formerror{
    color: red;
    margin-bottom: 10px;
  }
h1{
    text-align: center;
    margin-bottom: 10px;
}
form{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
}
label{
    font-weight: 500;
    color: #101030;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    outline: none;
    color: #101010;
    border-radius: 10px;
}
#email1{
    margin-bottom: 5px;
}
#email1,#password1{
    border: 2px solid #c2c2c2;
}
input[type="submit"]{
    background-color: #7f3fff;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
}
.already_signed{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: large;
    
  }
.already_signed a{
    text-decoration: none;
    
  }
p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: #ffffff;
}
@media all  and (min-width:466px) and (max-width:784px){
    form{
        width: 350px;
    }
    input{
        width: 100%; 
    }
}
@media all and (max-width:465px){
    form{
        width: 300px;
    }
    input{
        width: 100%; 
    }
}